
.wrapper {
  margin: 1em 1em;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-row-gap: 20px;
  grid-template-areas:
  "header"
  "content"
  "footer";
}
/***** Header *****/
.grid-header {
  grid-area: header;
}

/***** Body *****/
.grid-body {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-gap: 20px;
}

.page-title {
  grid-column: 1 / -1;
}
.grid-box {
  background-color: aqua;
  min-width: 100px;
  min-height: 100px;
}


/***** Footer *****/
.grid-footer {
  grid-area: footer;
}
.footer {
  background-color: darkgrey;
  min-height: 100px;
  min-width: 100px;
}


